@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
    --background-color:#bebdbd;
    --dark-blue: #0b1324;
    --medium-blue: #757ea0;
    --light-blue: #bac4ec;
}


p,a,li,ol,ul,div,span{
    font-family: "Inter";
}

nav a {
    color: var(--light-blue);
    text-decoration: none;
    transition: 0.2s ease;
}

nav a:hover {
    color: var(--light-blue);
    border-color: transparent;
}

li a:hover {
    background-color: var(--medium-blue);

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 25px 30px;
    font-weight: 600;
    font-size: 1.4rem;
}

li {
    display: inline;
}

.top-bar{
    background-color:  var(--dark-blue);
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index:1000;
}

/*
.page-links {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
*/
  
body {
    /*background-color: rgb(219, 216, 216)*/
    background-color: var(--background-color);
    overflow-x: hidden; /* Hide horizontal scrollbar */
    width: 100%; /* Ensure width does not exceed viewport */
    /*box-sizing: border-box; /* Ensure padding and border are included in element's total width */
}

.introduction{
    padding: auto;
    position: relative;
    z-index: 500;
}

.main-page{
    margin-top: 50px;
    padding: auto;
    position: relative;
    z-index: 500;
}


.main-content{
    padding: auto;
    position: relative;
    overflow: hidden;
    z-index: 500;
}
.hello-img {
    position: relative;
    top: 5rem;
    width: calc(min(40rem, 100%));
    margin-left: 20%;
    height:auto;
    /*height: 25rem; /* Adjust the height to take into account the navigation bar */
    z-index: 0; /* Lower z-index than the top-bar */

}

.projects-page {
    background-color:  rgb(179, 178, 178);
    box-shadow: 0 0 10px 10px rgba(179, 178, 178, 0.5);
    margin-top: 68px;
    width: min(55rem,100%);
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:0;
    bottom:0;
}

.projects-header{
    color: var(--dark-blue);
    margin-left:5rem;
    margin-top:4rem;
}

.project-page-top-line {
    color: var(--dark-blue);
    border-top:3px solid  var(--dark-blue);
    border-bottom: None;
}

.project-box {
    border: 2px solid #818181;
    border-radius: 3px;
    padding: 20px;
    margin: 20px 20px;
    background-color: #9f9fa1;
    text-decoration: none;
    color: inherit;
    display: block;
    transition: 0.3s ease;
}

.project-box:hover {    
    border: 2px solid  var(--dark-blue);
}
.project-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.project-description {
    font-size: 1em;
    color: #555;
}

.article-page {
    background-color:  rgb(179, 178, 178);
    box-shadow: 0 0 10px 10px rgba(179, 178, 178, 0.5);
    margin-top: 68px;
    width: min(55rem,100%);
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:0;
    bottom:0;
}

.article-header{
    color: var(--dark-blue);
    margin-top:4rem;
    text-align: center;
}

.article-page-top-line {
    color: var(--dark-blue);
    border-top:3px solid  var(--dark-blue);
    border-bottom: None;
}

.article-inner-title {
    margin-left:3rem;
}

.headshot-img {
    position: relative;
    top: 5rem;
    left: -12%;
    border-radius: 10%;
    width: auto;
    height: 30rem; /* Adjust the height to take into account the navigation bar */
    z-index: 0; /* Lower z-index than the top-bar */
}


.home-page-top-line {
    border: none;
    border-top: 3px solid black;
    color:  var(--dark-blue);
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top:5rem;
    box-sizing: border-box; 
    width: 100%; 
}


.about-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: calc(100vh - 50px); /* Adjust the height to take into account the navigation bar */
    z-index: 0; /* Lower z-index than the top-bar */
}


@media (max-width: 480px) {
    .about-img  {
        display: none;
    }
    .headshot-img  {
        display: none;
    }
    .hello-img  {
        margin-left: 0;
        margin-right: 0;
        display: block;
        margin: auto;
    }
    .projects-header{
        color: var(--dark-blue);
        text-align: center;
        margin-top:4rem;
    }
}

@media (max-width: 1500px) {
    .about-img {
        transform: translateX(calc((100vw - 1500px) * -0.4));
    }
}