<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Adam Atbi</title>
        <link rel="stylesheet" href="../../../style.css">
    </head>
    
    <body>
        <div class="top-bar">
            <nav class="page-links">
                <ul>
                    <li><a href="../../../index.html">Home</a></li>
                    <li><a href="../../projects.html">Projects</a></li>
                    <li><a href="../../about.html">About Me</a></ul></li>
                </ul>
            </nav>
        </div>
        <div class="article-page">
            <div class="article-header">
                <h1>Project Title</h1>
                
            </div>
            <hr class="article-page-top-line">
            
            <div class="article-content">
                <p>This is a template for a project page. You can use this template to create new project pages.</p>
                
            
            
        </div>
    </body>
</html>